$width-content: 1300px;
$width-max: 100vw;

// $main-color: #2a2e49;
$main-color: #0693e3;
$main-text: #263238;
// $backgound-color: #e0f7fa;
$backgound-color: #ffffff;
$a-color: #ff7043;

// Адаптив
$mobile: 400px;
$phone-sm: 550.98px;
$phone-md: 750.98px;
$tablet: 850.98px;
// $tabletB: 950.98px;
$laptop: 1100.98px;
$desktop: 1300px;
