@import "../variables.scss";
.main-page {
  display: block;
  text-align: center;

  margin: 0 auto;
  max-width: $width-max;
  color: $main-color;
}

.img-block {
  max-width: $width-max;
  height: 900px;
  background-image: url(https://hotel-blacksea.com/img/galleryfull39.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.3s ease;

  .img-block-content {
    margin: 0 auto;
    max-width: $width-content;
    // width: $width-content;
    // height: 300px;
    // background-color: black;
  }

  .img_text {
    text-align: left;
    padding-top: 70px;
    font-size: 40px;
    width: 560px;
    margin-bottom: 200px;
    color: rgb(245, 245, 245);
  }
  .wiget-img {
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); // Начальный прозрачный фон
    transition: background 0.3s ease;
    z-index: 0;
  }

  &:hover::before {
    background: rgba(0, 0, 0, 0.1); // 10% затемнение фона
  }

  // Контент должен быть выше псевдоэлемента
  & > * {
    position: relative;
    z-index: 1;
  }
}

// блок О нас
.info {
  display: flex;
  margin: 0 auto;
  // max-width: $width-content ;
  max-width: 1200px;
  padding-top: 20px;

  .info-img {
    width: 460px;
  }
  .info-description {
    text-align: left;
    margin: 0 0 0 22px;
    padding: 20px;
    position: relative;

    // border-bottom: 1px solid black;
    h2 {
      font-size: 36px;
      margin-top: 27px;
      // border-right: 1px solid black;
    }
  }

  .info-description::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width: 1px;
    height: 99.3%;
    background-color: #000;
  }
  .info-description::before {
    content: "";
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 105.5%;
    height: 1px;
    background-color: #000;
    left: -39px;
  }

  .info-des-short {
    font-size: 25px;

    margin: 10px 0;
  }
  .info-des-long {
    font-size: 20px;
    padding-bottom: 20px;
  }
}

// БЛОК УСЛУГ
.services-block {
  margin: 30px auto;
  max-width: $width-content;

  h2 {
    font-size: 46px;
    text-align: left;
    margin-bottom: 20px;
  }

  .services-background-block {
    // background-image: url(https://hotel-blacksea.com/img/services_background.jpg);
    background-image: url(https://avatars.mds.yandex.net/get-altay/6057477/2a00000180c7ec8be59e4d690b814261db60/XXXL);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
    object-fit: cover;
  }
  .services-white-block {
    // z-index: 1;
    background-color: white;
    position: absolute;
    text-align: left;
    width: 700px;
    height: 400px;
    right: -140px;
    top: 200px;

    -webkit-box-shadow: -11px 12px 8px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -11px 12px 8px 1px rgba(34, 60, 80, 0.2);
    box-shadow: -11px 12px 8px 1px rgba(34, 60, 80, 0.2);

    h3 {
      font-size: 28px;
      padding: 20px;
    }
    p {
      padding: 5px 35px;
      font-size: 24px;
    }
    p::before {
      content: "•";
      position: absolute;
      left: 0;
      padding-left: 15px;
    }
    button {
      font-size: 24px;
      padding: 8px 14px;
      border-radius: 10px;
      cursor: pointer;
      background: none;
      margin: 30px 30px;
    }
    button:hover {
    }
  }
}

// БЛОК ПРЕИМУЩЕСТВА
.advantages-block {
  margin: 50px auto;
  max-width: $width-content;
  h2 {
    font-size: 46px;
    text-align: left;
    margin-bottom: 20px;
  }

  .advantages-box {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages-div {
    flex: 1 1 calc(33.333% - 20px);
    margin: 10px;
    box-sizing: border-box;
  }
}

// Информация
.info-hotel {
  margin: 30px auto;
  max-width: $width-max;
  background-color: $main-color;
}

//Блок клиентов
.client-block {
  margin: 30px auto;
  max-width: $width-max;
  // object-position: center;
  // object-fit: cover;
  background-image: url(https://hotel-blacksea.com/img/sea_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 850px;

  .client-white-block {
    background-color: rgba(255, 255, 255, 0.5);
    width: 1400px;
    text-align: left;
  }
}

//ОТзывы
// .reviews {
//   // background-color: aqua;
//   max-width: $width-content;
//   margin: 50px auto;
//   text-align: center;
//   justify-content: center;
// }
// Карта
// .map-contacts {

// }
//Footer
.footer {
  max-width: $width-max;
  background-color: $main-color;
  text-align: center;
  justify-content: center;
  height: 250px;

  div {
    position: relative;
    justify-content: center;
    text-align: center;
  }

  .footer-img {
    width: 200px;
    margin: 15px;
  }

  button {
    position: absolute;
    right: 50px;
    bottom: 20px;
    background: none;
    border: none;
    color: rgb(250, 250, 250);
    font-size: 62px;
    text-align: left;
    cursor: pointer;
  }

  button:hover {
    transition: 0.4s ease;
    transform: translateY(-5px);
  }
}
