.bs-usefull__info {
  display: flex;
  padding: 5px;
  text-align: left;
  justify-content: left;
}
.bs-usefull__info-time {
  font-size: 22px;
  padding: 10px;
}
.irframe {
  overflow: hidden;
  border: 0;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 40px;
}
// .img-clock {
//   height: 250px;
// }
