.bs-usefull__info {
  display: flex;
  padding: 15px;
  text-align: center;
  justify-content: center;
}
.bs-usefull__info-time {
  font-size: 22px;
  padding: 25px 10px 10px 10px;
}
.irframe {
  overflow: hidden;
  border: 0;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 40px;
}
// .img-clock {
//   height: 250px;
// }
