@import "../variables.scss";
.contacts-h2 {
  font-size: 46px;
  // padding-right: 260px;
  text-align: left;
  margin-bottom: 20px;
  max-width: $width-content;
  margin: 0 auto;
}

.map-contacts {
  max-width: $width-max;
  margin: 0 auto;
  // background-color: $main-color;
  display: flex;
  // background-color: bisque;
  text-align: center;
  justify-content: center;
  // color: white;
  padding: 25px;

  .contacts {
    text-align: left;

    h3 {
      margin-top: 20px;
      font-size: 26px;
    }
    p {
      font-size: 20px;
      padding: 10px 15px 10px 0;
    }
    a {
      font-size: 18px;
    }

    .route-btn {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      font-size: 18px;
      margin-right: 160px;
      cursor: pointer;
      padding: 0 15px;

      .arrow-btn {
        font-size: 25px;
        align-items: center;
        padding-top: 5px;
        transition: transform 0.3s ease;
        margin-right: 10px;
      }
    }
    .route-btn:hover {
      .arrow-btn {
        transform: translateX(10px);
      }
    }
  }
}

.weather-clock-block {
  // margin: 30px auto;
  // max-width: $width-content;
  justify-content: left;
  align-items: left;
  display: block;
  // flex-direction: column;
}

//modal

// прокрутка
.card {
  opacity: 1;
  transform: translateY(40px) scale(0.8);
  animation: fadeIn 1.2s ease-in forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes fadeIn {
  from {
    opacity: 1;
    transform: translateY(40px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

//scroll
