.swiper {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
  display: block;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.images-swiper {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.swiper-button-prev,
.swiper-button-next {
  color: aliceblue;
}
